#banner
  .banner_content
    %h1 Notes
    %p Never forget an idea again.
    %button= link_to "Sign Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "Feel free to use my website to make notes."
    %p.name - Daniel Mauch

#callouts
  .callout_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p Just a little project to get in touch with Ruby on Rails.
      .callout
        %i.fa.fa-rocket
        %h2 Me
        %p I'm a german student in Ireland keeping my eyes open for new projects like this.
      .callout
        %i.fa.fa-bolt
        %h2 Enjoy
        %p Enjoy my notebook application. Feel free to sign up.

#bottom_cta
  .wrapper
    %h2 Hi Guys
    %p I want you to sign up !
    %button= link_to "Click me !", new_user_registration_path

%footer
  %p &copy; Daniel Mauch